#painel{
  height: 500px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-gradient {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(107deg,#9b0063,#ff4c1d);
  color: gradient-color-at(#9b0063,#ff4c1d);
  -webkit-text-fill-color: transparent;
  font-family: Google Sans,Helvetica,arial,sans-serif;
    font-weight: 400;
    line-height: 1.18;
    font-size: 56px;
}
.img-painel{
  height: 100%;
  margin-bottom: -48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}