<ion-content>
  <div id="painel" class="ion-padding-horizontal">
    <div width="200px;">
      <!-- <h2 class="text-gradient">
        Encontre as melhores vagas de TI aqui!
      </h2> -->
    </div>
    <div class="img-painel">
      <img src="../../assets/img1.svg" height="300px">
    </div>
  </div>

  <div id="destaque" margin>
    <h3>Destaques</h3>
  </div>
  
  
  <ion-item padding margin lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/g.png">
    </ion-thumbnail>
    <ion-label color="dark">
      <h1 style="font-weight: 500">Google</h1>
      <p>Gerente de Projetos – Pleno</p>
    </ion-label>
    <ion-button fill="outline" slot="end" color="light">Vizualizar Vaga</ion-button>
  </ion-item>
  
  <ion-item padding margin lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/n.png">
    </ion-thumbnail>
    <ion-label color="dark">
      <h1 style="font-weight: 500">NuBank</h1>
      <p>ESTÁGIO EM CRIAÇÃO </p>
    </ion-label>
    <ion-button fill="outline" slot="end" color="light">Vizualizar Vaga</ion-button>
  </ion-item>

  <ion-item padding margin lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/f.png">
    </ion-thumbnail>
    <ion-label color="dark">
      <h1 style="font-weight: 500">iDev</h1>
      <p>Desenvolvedor Web/Mobile</p>
    </ion-label>
    <ion-button fill="outline" slot="end" color="light">Vizualizar Vaga</ion-button>
  </ion-item>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

