<ion-content>
  <div id="painel" class="ion-padding-horizontal">
    <div width="200px;">
      <h2 class="text ion-padding-horizontal">Um cliente com <br><span class=" text gradient">
          engajamento
        </span><br>é um exemplo de<br>comprometimento.</h2>
    </div>
    <div class="img-painel">
      <img src="../../assets/b.png">
    </div>
  </div>
  <div id="resumo">
    <img src="../../assets/aux1.png" class="img-aux">
    <div class=" content ion-padding-horizontal">
      <h2 class="text-resumo ion-padding-horizontal">Somos Solução.</h2>
      <h2 class="ion-padding-horizontal">Wave cria sistemas com foco no mercado de aplicativos para usar os principais. meios de engajamentos a favor do seu negócio, usando as mesmas tecnologias de desenvolvimento da<span
          class="gradient"> Uber, NU Bank, Air Bnb, Instagram e etc.</span></h2>
    </div>
    <div class="conteiner-aux2">
      <img src="../../assets/aux1.png" class="img-aux rotate">
    </div>
  </div>

  <div id="topicos">
    <div class="topico">
      <div class="img-topico">
        <img src="../../assets/c.png" width="200" height="150">
      </div>
      <h2>Sistema de pagamento embutido na aplicação, menos custos e mais rapidez, assim seu cliente vai poder com apenas
        um toque na tela realizar o pagamento.</h2>
    </div>
    <div class="topico">
      <div class="img-topico">
        <img src="../../assets/n.png" width="200" height="auto">
      </div>
      <h2>Notificação com direcionamento, cada cliente é único e para haver uma aproximação ele merece um tratamento exclusivo.</h2>
    </div>
    <div class="topico">
      <div class="img-topico">
        <img src="../../assets/i.png" width="150" height="180">
      </div>
      <h2>O ideal é incentivar a indicação dos seus clientes através de recompensas. Essa estratégia em inglês é chamada de Referral Marketing.</h2>
    </div>
  </div>

</ion-content>